*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    background-color:blue;
    color:white;
}
.userList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style-type : none;
}